@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

/* Default reset */
* {
    margin: 0px;
    padding: 0px;
}

body, html {
    width: 100%;
    height: 100%;
}

main {
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: #333;
    position: relative;
}

.editor {
    width: 100%;
    height: 100%;
}

.carrot {
    height: 30px;
    width: 3px;
    background-color: yellow;
    position: absolute;
}

.line {
    font-family: 'JetBrains Mono', monospace;
    height: 26px;
    font-size: 22px;
    color: white;
    display: flex;
}

.property {
    color: rgb(255, 199, 96);;
}

.function {
    color: rgb(0, 255, 255);;
}

.functionName {
    color: rgb(79, 146, 223);
}

.brackets {
    color: rgb(73, 48, 213);
}

.paramsBrackey {
    color: olivedrab;
}

.variable {
    color: rgb(165, 165, 165);
}

.number {
    color: orangered;
}

.special {
    color: rgb(185, 48, 213);
}

.keyword {
    color: rgb(139, 48, 213);
}

.operant {
    color: rgb(213, 174, 48)
}

.let {
    color: rgb(85, 255, 198);
}

.const {
    color: rgb(85, 255, 198);
}

.string {
    color: rgb(35, 158, 97);
}

.comment {
    color: rgb(98, 98, 98);
}

.default {
    color: rgb(255, 96, 101);
}
