@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

/* Default reset */
* {
    margin: 0px;
    padding: 0px;
}

body, html {
    width: 100%;
    height: 100%;
}


main {
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: #333;
    position: relative;
}

.tester {
    font-family: 'JetBrains Mono', monospace;
    position: absolute;
    font-size: 22px;
    visibility: hidden;
    display: flex;
    width: fit-content;
}

.editor {
    width: 100%;
    height: 100%;
}

.carrot {
    height: 30px;
    width: 3px;
    background-color: yellow;
    position: absolute;
}

.line {
    font-family: 'JetBrains Mono', monospace;
    height: 26px;
    font-size: 22px;
    color: white;
    display: flex;
}

.variable {
    color: rgb(233, 233, 0);
}

.special {
    color: aqua;
}

.default {
    color: rgb(255, 255, 255);
}

.comment {
    color: rgb(154, 154, 154);
}

.string {
    color: rgb(27, 225, 27);
}

.bracket {
    color: violet;
}

.operator {
    color: darkorange;
}

.number {
    color: rgb(46, 177, 247);
}

.bool {
    color: burlywood;
}