/* Default reset */
* {
    margin: 0px;
    padding: 0px;
}

body, html {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    background-color: #333;
}

.line {
    font-size: 22px;
    height: 22px;
    color: white;
    display: flex;
}

.let {
    color: red;
}

.const {
    color: lightskyblue;
}